*{
    font-family: "font";
    box-sizing: border-box;
}
@font-face {
    font-family: "font";
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}
body{
    margin: 0;
    padding: 0;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}
button{
    cursor: pointer;
}

/*first slide*/
header{
    background-image: url(first\ slide\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
}
.list{
    max-width: 418px;
    border-radius: 20px;

    border: 1px solid #FFFFFF66;
    background-color: #00000069;
    color: #FFFFFF;

    font-weight: 700;
    margin-inline: auto;
    margin-right: 505px;
}
.list ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    column-gap: 26px;
    padding-right: 20px;
}

.texts{
    display: flex;
    align-items: center;
}

.red_bull_img{
    float: right;
}
.youtube_img{
    display: flex;
    margin-inline: auto;
    margin-top: 300px;
    cursor: pointer;
}
.video_title button{
    width: 218px;
    height: 46px;
    background-color: #DB0A40;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}
.video_title , .texts{
    margin-left: 150px;
}
.texts ul{
    display: flex;
    list-style: none;
    column-gap: 15px;
    padding: 0;
}
.top_border{
    display: flex;
    align-items: center;
    max-width: 226px;
}
.box1{
    width: 80%;
    height: 4px;
    background-color: #DB0A40;
}
.box2{
    width: 20%;
    height: 4px;
    background-color: #868383;
}
.abc{
    border-top: 3px solid #424242;
    color: #424242;
}


.satauri{
    text-align: center;
}
.first_photo{
    background-image: url(1.png);
    background-repeat: no-repeat;
    width: 520.62px;
    height: 670px;
    margin-left: 45px;
}
.second_photo{
    background-image: url(2.png);
    background-repeat: no-repeat;
    width: 520.62px;
    height: 670px;
    margin-left: 10px;
}
.third_photo{
    background-image: url(3.png);
    background-repeat: no-repeat;
    width: 520.62px;
    height: 670px;
    margin-right: 50px;
}
.photos{
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    column-gap: 4px;
    justify-content: center;
}

.title h1{
    text-align: center;
}
.small_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 90px;
}
.text p{
    font-size: 13px;
    padding-left: 32px;
    line-height: 25px;
}
.text_area{
    margin-top: 490px;
}

.second_line{
    margin-top: 14px;
    justify-content: center;
}

.second_line_1photo{
    background-image: url(4.png);
    background-repeat: no-repeat;
    width: 520.62px;
    height: 670px;
    position: absolute;
    left: 45px;
    margin-top: 700px;
}
.second_line_1photo h1{
    font-size: 30px;
    padding-right: 50px;
    position: absolute;
    left: 100px;
    margin: 0;
}
.second_line_1photo .text, .second_line_1photo .small_text{
    margin: 0;
    position: relative;
    top: 70px;
}

.second_line_2photo{
    background-image: url(5.png);
    background-repeat: no-repeat;
    width: 520.62px;
    height: 670px;
    position: absolute;
    left: 505px;
    margin-top: 700px;
}
.second_line_2photo h1{
    font-size: 30px;
    padding-right: 50px;
    position: absolute;
    left: 125px;
    margin: 0;
}
.second_line_2photo .text, .second_line_2photo .small_text{
    margin: 0;
    position: relative;
    top: 70px;
}

.second_line_3photo{
    background-image: url(6.png);
    background-repeat: no-repeat;
    width: 520.62px;
    height: 670px;
    position: absolute;
    left: 970px;
    margin-top: 700px;
    overflow-x: hidden;
}
.second_line_3photo h1{
    font-size: 30px;
    padding-right: 50px;
    position: absolute;
    left: 125px;
    margin: 0;
}
.second_line_3photo .text, .second_line_3photo .small_text{
    margin: 0;
    position: relative;
    top: 70px;
}

.button button{
    width: 251.17px;
    height: 53px;
    background-color: #212360;
    font-size: 22px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 740px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.information{
    background-image: url(Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    margin-top: 28px;
    font-weight: 700;
    line-height: 21.78px;
}
.logo_line{
    display: flex;
    justify-content: space-between;
    color: #A6A6A6;
    padding-right: 50px;
}
.logo_line, .lists{
    margin-left: 37px;
}
.information ul{
    list-style: none;
    line-height: 35px;
    margin-top: 20px;
}
.lists{
    display: flex;
}
.apps{
    margin-left: 80px;
}